<h2 class="mt-2 p-5">Add Categories</h2>
<div class="container card p-2 w-50">
<form >
    <div class="mb-3">
    <label  class="form-label">Category Id:</label>
    <input type="number" class="form-control" id="title" >
  </div>
  <div class="mb-3">
    <label  class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" >
  </div>
  <div class="mb-3">
    <label  class="form-label">Description:</label>
    <input type="text" class="form-control" id="desc">
  </div>
  
  <button type="submit" class="btn btn-primary ">Submit</button>
</form>
</div>